{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %} 
<h1>Profile</h1>
<p><strong>Profile info about {{profile_info}}</strong></p>
<p>Firts name: {{profile_info.first_name}}</p>
<p>Last name: {{profile_info.last_name}}</p>
<p>Email: {{profile_info.email}}</p>
<p>Bio: {{profile_info.bio}}</p>
<p>Location: {{profile_info.location}}</p>
<p>Birth date: {{profile_info.birth_date}}</p>
<p><a href="{% url 'account_email'%}">Email</a></p>
<p><a href='{% url "users:change_profile" %}'>Chenge info</a></p>
<p><a href='{% url "account_change_password" %}'>Change password</a></p>
{% endblock %}